*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}
h1{
  font-size: 48px;
  font-weight: 400;
}
.container{
  background: #ffe5d9;
  width: 100%;
  height: 100%;
}
header{
  position: sticky;
  top: 0;
  background-color: #d8e2dc;
  z-index: 3;
}
.container-flex{
  padding: 10px 20px;
  background: #d8e2dc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 73px;
}
.name-box{
  display: flex;
  gap: 20px;
  align-items: center;
}
.search-box{
  position: relative;
}
.search-box input{
  width: 335px;
  background-color: #f2f2f2;
  border: 1px solid #9d8189;
  padding: 8px;
  color: #9d8189;
  transition: all .3s ease-in-out;
  border-radius: 25px;
}
input:focus{
  border-color: #ffcad4; 
  box-shadow: 0 10px 15px rgba(255, 12, 57, 0.22); 
  outline: none; 
}
 #clear{
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 16px;
  transition: 1s;
  background-color: transparent;
}
.search-box:hover{
  color: #9d8189;
}
.gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images{
  columns: 5 340px;
  gap: 10px;
  margin-top: 15px;
  max-width: 95%;
}
.images img{
  width: 100%;
}
.images .card{
  list-style: none;
  margin-bottom: 15px;
  transition: transform 0.4s;
}
.images .card:hover{
  box-shadow: 0 10px 15px rgba(255, 12, 57, 0.374); 
}
.gallery .load{
  margin: 25px 0;
  background-color: #f2f2f2;
  border: 1px solid #9d8189;
  padding: 8px;
  color: #9d8189;
  transition: all .3s ease-in-out;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.4s;
}
.gallery .load:hover{
  transform: scale(1.1);
  border-color: #ffcad4; 
  box-shadow: 0 10px 15px rgba(255, 12, 57, 0.22); 
  outline: none;
}
.gallery .load:active{
  transform: scale(1.3);
  border-color: #ffcad4; 
  box-shadow: 0 10px 15px rgba(255, 12, 57, 0.22); 
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.link{
  transition: transform 0.4s ease-in-out;
}
.link:hover{
  transform: scale(1.5);
}
.no-results{
  font-size: 40px;
  color: #9d8189;
}


@media (max-width: 814px) {
  .container-flex{
    flex-direction: column;
  }
  .name-box{
    margin-bottom: 20px;
  }
  .search-box{
    margin-bottom: 15px;
  }
}