*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Forum', cursive;
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.header,.footer{
  background-color: #0C0C0E;
  color: #FFFFFF;
}
.container__flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
}
.container__flex-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__list-item{
  display: inline-block;
  text-decoration: none;
  margin-left: 26px;
}
.nav__link{
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  font-family:'Inter', sans-serif;
}
.nav__link:hover{
  color: #BB945F;
  transition: 0.5s;
  cursor: pointer;
}
.icon{
  margin-left: 40px;
}
h1{
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  font-family: 'Forum', cursive;
}
h2{
  color: #0C0C0E;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Forum', cursive;
  text-align: center;
  padding-bottom: 20px;
}
.welcome{
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 50%), url(img/welcome.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 160px;
  margin-top: -1px;
}
.welcome__content-box{
  background-color: #0C0C0E;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
}
.welcome__title{
  color: #FFF;
  font-family: 'Forum', cursive;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.about,.favorites,.coffeeshop,.contacts{
  padding: 20px 20px 40px;
}
.librarycard{
 padding: 7px 20px 36px;
}
.line__menu{
  border: 0.5px solid  #0C0C0E;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.text__about{
  color: #000;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0 20px;
}
.gallery__about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pagination__wrapper{
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.pagination__box{
  width: 26px;
  height: 26px;
  padding: 5px;
  cursor: pointer;
}
.pagination__btn{
  width: 16px;
  height: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.active{
  background-color: #BB945F;
  cursor: pointer;
}
.favorites__text{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 36px 0 40px;
}
.input{
  display: flex;
  gap: 92px;
}
.radio__text{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}
.circle:checked ~ .radio__text{
  font-weight: 700;
}
.circle{
  margin-right: 20px;
  accent-color: #000;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.radio__label{
  cursor: pointer;
}
.book__info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 40px;
}
.section__winter,.section__spring,.section__summer,.section__autumn{
  border: 1px solid #000;
  width: 550px;
  height: 555px;
  padding: 21px 20px;
  position: relative;
  margin-top: 40px;
}
.section__autumn,.section__spring,.section__summer{
  display: none;
}
.section__label{
  color: #000;
  font-family: 'Forum', cursive;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.section__line{
  border: 0.5px solid #BB945F;
  width: 60px;
  margin-top: 7px;
}
.headline__title{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight:700;
  line-height: 40px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 2px;
}
h4{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight:700;
  line-height: 40px;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.book__description{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 358px;
  height: 320px;
}
.btn__buy, .btn__own{
 position: absolute;
 bottom: 15px;
 width: 75px;
 height: 30px;
 padding: 9px 27px;
 border: 1px solid #0C0C0E;
 border-radius: 2px;
 background-color: transparent;
 outline: none;
 font-family: 'Inter', sans-serif;
 font-size: 10px;
 font-weight: 700;
 letter-spacing: 1px;
 text-align: center;
}
.btn__own{
  color: #BB945F;
  border: 1px solid #BB945F;
}
.btn__buy:hover{
  transition: 0.5s;
  background-color: #BB945F;
  border: 1px solid #BB945F;
  cursor: pointer;
}
.book__cover{
  position: absolute;
  top: 254px;
  left: 390px;
}
.coffeeshop__info{
  margin-top: 40px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.container__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 38px;
}
.menu__r,.menu__l{
  color: #BB945F;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Forum', cursive;
  padding-bottom: 0px;
}
.menu__r{
  text-align: start;
}
.menu__l{
  text-align: end;
}
.menu__item{
 display: grid;
 grid-template-columns: 1.5fr 1fr 0.5fr;
 align-items: center;
 margin-top: 40px;
}
.menu__item-name{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
  text-align: end;
  padding-right: 9px;
}
.menu__item-name-left{
  text-align: start;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
}
.line-big{
  border: 0.5px solid #BB945F;
  width: 100px;
  margin-left: 45px;
}
.price{
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Forum', cursive;
  margin-left: 60px;
}
.contacts__wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts__info-heading{
  font-weight: 700;
  margin-bottom: 40px;
}
.contacts__info-main{
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}
.contacts__phone{
  margin-top: 20px;
}
.contacts__list{
  list-style-type: none;
}
.contacts__email{
  letter-spacing: 2px;
}
.email{
  font-weight: 700;
}
.phone:hover,.email:hover{
  cursor: pointer;
  transition: 0.5s;
  color: #BB945F;
}
.librarycard__wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.card__title-left{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}
.librarycard__box{
  border: 3px solid #BB945F;
  background: #FFF;
  max-width: 600px;
  padding: 19px 17px 30px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.librarycard__box-input{
  max-width: 560px;
  background-color: #BB945F;
  padding: 20px 20px 25px;
}
.box__title{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px; 
  letter-spacing: 0.6px;
  font-family: 'Forum', cursive;
}
.box__form-input{
  width: 520px;
  color: #8E8E8E;
  font-family: 'Forum', cursive;
  font-size: 30px;
  border-radius: 10px;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding: 8px 20px;
  margin-top: 21px;
  border: none;
}
.box__form-btn{
  color: #0C0C0E;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 21px auto 0;
  display: block;
  padding: 10px 39px;
  font-size: 20px;
}
.box__form-btn:hover{
  transition: 0.5s;
  background-color: #BB945F;
  border: 1px solid #BB945F;
  cursor: pointer;
}
.readercard{
  text-align: end;
}
.card__title-right{
  color: #000;
  font-family: 'Forum', cursive;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.card__info{
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: right;
  margin: 35px 0;
  max-width: 456px;
}
.card__form-btn{
  width: 75px;
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 10px;
  padding: 7px;
  margin-left: 16px;
}
.card__form-btn:hover{
  transition: 0.5s;
  background-color: #BB945F;
  border: 1px solid #BB945F;
  cursor: pointer;
}
.footer__wrapper{
  padding: 20px 21px 44px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.footer__link,.github__link,.rsschool__link{
  color: #FFF;
  cursor: pointer;
}
.footer__link:hover,.github__link:hover,.rsschool__link:hover{
  transition: 0.5s;
  color: #BB945F;
}
.footer__inner-top{
  display: flex;
  justify-content: space-between;
}
.footer__adress{
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 20px;
}
.social__link{
  margin-right: 11px;
  margin-top: 18px;
  cursor: pointer;
}
.footer__schedule{
  text-align: right;
  line-height: 20px;
  font-size: 15px;
}
.footer__inner-right{
  display: grid;
  gap: 10px;
}
.footer__line{
  margin-top: 30px;
  margin-bottom: 34px;
  width: 1400px;
  border: 1px #FFF solid;
}
.footer__inner-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}
.github__link{
  margin-left: -106px;
}
.footer__info{
  text-align: end;
}